InMac \Chat.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
InMac \Chat.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/shopkeeper.xcscheme
InMac \Chat.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
